.transliteration-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.transliteration-textarea {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  border: 1px solid #dddbdb;
  background-color: white;
  resize: none;
}

.transliteration-output {
  font-family: "Baybayin";
  border: 1px solid #ffffff;
  background-color: rgb(240, 238, 238);
}

.transliteration-textarea,
.transliteration-output {
  text-align: left;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  min-height: 175px;
  color: rgb(73, 72, 72);
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
}

.dictionary-output ul {
  list-style-type: none;
  padding: 0;
}

.dictionary-output li {
  margin: 5px 0;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
