.App-Navigation {
  position: fixed;
  left: 0;
  width: 150px;
  background-color: #f0f0f0;
  height: 100%;
}

.Navigation-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Navigation-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation-content ul li {
  margin: 0;
}

.Navigation-content ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  width: 100%;
  text-align: left;
  text-indent: 2rem;
}

.Navigation-content ul li a:hover {
  background-color: #e0e0e0;
  color: #000;
  width: 100%;
  text-align: center;
}

.Navigation-content ul li a:active {
  background-color: #e0e0e0;
  color: #000;
  width: 100%;
  text-align: center;
}
