.App-footer {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: rgb(240, 238, 238);
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
  border-top: 1px solid gray;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.App-footer-Text {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.App-logo {
  width: 50px;
  height: auto;
}
